# .env.example
# 請在 AI Studio 的 Settings -> Secrets / Environment Variables 中設定以下變數
# 目前程式支援以下兩個名稱（擇一即可）：
Web_Key=
GEMINI_API_KEY=

# 登入管理密碼與管理員 Email
VITE_LOGIN_PASS=
VITE_EDIT_PASS=
VITE_ADMIN_EMAIL=
